@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  }

  code, pre {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
